img { 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}


body {
  background-image: linear-gradient(Green, Blue);
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddddd;
  background-color: rgba (0,0,0, 0.1);
  
}

.education-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddddd;
  background-color: rgba (0,0,0, 0.1);
}

ul {
  font-size: 15px
}
