img { 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}


body {
  background-image: linear-gradient(Green, Navy);
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  padding-left: 20px;
  padding-right:20px;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  
}



.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddddd;
  background-color: rgba (0,0,0, 0.1);
  
}

.education-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddddd;
  background-color: rgba (0,0,0, 0.1);
}

ul {
  font-size: 15px
}

.div-1 {
      text-align: center;
    }
